body{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;

}

.header{
    padding: 1.5rem  ;
    box-shadow: 2px 2px 2px 1px rgba(3, 43, 116, 0.637);
    display: flex;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 60px;
    height: 60px;

}
.logo h3{
color:rgb(1,85,141);

}
.search-box input:focus{ 
    outline: none;

}
.search-box input{
    width: 350px;
    height: 36px;
    font-size:1.4rem ;
    padding-left: 5px;
    border-radius: 7px;
    box-shadow: 0 0 7px rgba(1,85,141,0.664);
    border: 0;
}
.search-box button{
height: 38px;
width: 38px;
font-size: 1.4rem;
color:rgb(1,85,141);
border: 0;
box-shadow: 0 0 7px rgba(1,85,141,0.664);
border-bottom-right-radius: 7px;

}
.main{
    padding: 1rem;
}
.categories h3{
    color:rgb(1,85,141);
    margin-bottom: 1.2rem;

}
.list-category{
list-style: none;
}
.item-category{
    margin-bottom: 0.8rem;
    cursor: pointer;
}
.item-category:hover{
    background-color: rgb(240,232,232);
}
.products{
   
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.product-iterm{

    width: 200px;
    padding: .4rem;
    box-shadow: 0 0 2px rgba(51, 66, 70, 0.2);
}
.product-iterm:hover{

    cursor: pointer;
}
.product-iterm img{
    width: 200px;
    height: 220px;

}
.product-iterm h4{
    color:rgb(1,85,141); 

}
.product-iterm span{
    background-color:rgb(1,85,141);
    color:white; 
    position: absolute;
    z-index: 10000;
    padding: .3rem;
    
}

